@using QuizSystem.ViewModels.QuestionViewModel
@using Core.Enums
@model EditQuestionAnswerViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie-edge" />
    <style>
        .answer-form {
            margin-bottom: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    </style>
</head>
<body>
    @if (TempData["Error"] != null)
    {
        <div class="col-md-12 alert alert-danger">
            <span><b>Sorry!</b> - @TempData["Error"]</span>
        </div>
    }
    <!--Main layout-->
    <main class="my-5">
        <div class="container">
            <!--Section: Content-->
            <section class="text-center text-md-start">
                <h4 class="mb-5"><strong>Create question page</strong></h4>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <form id="create-form" method="post">
                                <input type="hidden" name="TestId" value="@Model.TestId" />
                                <input type="hidden" name="Type" value="@Model.Type" />
                                <input type="hidden" name="QuestionId" value="@Model.QuestionId" />

                                <div class="form-outline mb-4">
                                    <label asp-for="Description" class="control-label">Question Text</label>
                                    <textarea asp-for="Description" name="Description" class="form-control custom-textarea" rows="5" placeholder="Question Text"></textarea>
                                </div>
                                <div class="form-outline mb-3">
                                    <label class="form-label" asp-for="Point">Point</label>
                                    <input asp-for="Point" name="Point" type="number" class="form-control">
                                </div>
                                <div class="form-outline answer-form">
                                    <input type="hidden" name="QuestionId" value="@Model.QuestionId" />

                                    <label class="form-label" asp-for="Point">Answer Text</label>
                                    <input type="hidden" name="AnswerId" value="@Model.Answers.FirstOrDefault().AnswerId" />
                                    <textarea asp-for="@Model.Answers.FirstOrDefault().Value" type="text" class="form-control" name="Answers" placeholder="Answe Text"></textarea>
                                </div>
                                <div class="text-end">
                                    <a href="@Url.Action("Index", "Question", new { testId = Model.TestId })" type="button" class="btn btn-secondary">Cancel</a>
                                    <button type="submit" class="btn btn-primary">Edit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        // Handle form submission
        $("#create-form").submit(function (event) {
            event.preventDefault(); // Prevent the default form submission

            var formData = {
                QuestionId: $("input[name='QuestionId']").val(),
                TestId: $("input[name='TestId']").val(),
                Description: $("textarea[name='Description']").val(),
                Point: $("input[name='Point']").val(),
                Type: $("input[name='Type']").val(),
                Answers: []
            };

            // Collect answers
            $(".answer-form").each(function () {
                var answer = {
                    ANswerId: $(this).find("input[name='AnswerId']").val(),
                    Value: $(this).find("textarea[name='Answers']").val(),
                    IsRight: true,
                    QuestionId: $(this).find("input[name='QuestionId']").val()
                };

                formData.Answers.push(answer);
            });

            // Send the data to the endpoint
            $.ajax({
                url: "/Question/Edit",
                type: "POST",
                data: formData,
                success: function (response) {
                    // Check if the response indicates success (you can customize this condition)
                    window.location.href = response.redirectUrl;
                },
                error: function (error) {
                    window.location.href = response.redirectUrl;

                }
            });
        });
    </script>
</body>
</html>


