@using QuizSystem.ViewModels.AttemptViewModels
@model AttemptViewModel


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
    <style>
        .container {
            display: flex;
            justify-content: center; 
            align-items: center; 
            min-height: 70vh; 
        }

        .card {
            max-width: 600px; 
            width: 100%; 
            padding: 30px; 
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            background-color: #FBFBFB;
        }

    </style>

</head>
<body>
    @if (TempData["Error"] != null)
    {
        <div class="col-md-12 alert alert-danger">
            <span><b>Sorry!</b> - @TempData["Error"]</span>
        </div>
    }

    <div class="container">
        <div class="card text-center">
            <div class="card-header">Right answers amount: @Model.RightAnswersAmount</div>
            <div class="card-body">
                <h5 class="card-title">Points: @Model.Points</h5>
                @*<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>*@
                <a href="@Url.Action("AttemptResult", "Attempt", new { attemptId = Model.AttemptId})" class="btn btn-primary">View Answers</a>
            </div>
            @{
                var time = Model.EndDate - Model.StartDate;
            }
            <div class="card-footer text-muted">Total time: @time.ToString(@"hh\:mm\:ss")</div>
        </div>
    </div>

</body>
</html>

