@using QuizSystem.ViewModels.PaginationTestViewModels
@model TestPaginationModel

@{
    var tests = Model.Tests;
}

@if (Model.Tests.Count() == 0)
{
    <h1>You haven't created tests</h1>
}
else
{
    <!-- Convert Model to a List for easier manipulation -->
    @for (int i = 0; i < tests.Count; i += 3)
    {
        <div class="row">
            <!-- Create a row for every three elements -->
            @for (int j = i; j < Math.Min(i + 3, tests.Count); j++)
            {
                var test = tests[j];
                <div class="col-md-4">
                    <!-- Use col-md-4 to divide the row into 3 equal columns on medium-sized screens -->
                    <div class="card mb-3">
                        <div class="card-header"><h5>Title: @test.Name</h5></div>
                        <div class="card-body">
                            <p class="card-text"><strong>Attempts count: <i class="fas fa-bullseye"></i> @test.UserTakenTestAmount</strong></p>
                            @*<h5 class="card-title"></h5>*@
                            @*<p class="card-text">Creator: @test.UserId</p>*@
                            <p class="card-text">Description: @test.Description</p>
                            <a href="@Url.Action("MemberView", "Test", new { testId = test.TestId })" class="btn btn-primary">View the Test</a>
                            <div class="card-footer bg-light px-3 mt-2">@test.DateOfCreation.ToString("dddd, dd MMMM yyyy HH:mm")</div>
                            @*<div class="card-footer text-muted"></div>*@
                        </div>
                    </div>
                </div>
            }
        </div>
    }

    <!-- Add CSS styles to center the pagination bar -->
    <style>
        .pagination-container {
            display: flex;
            justify-content: center;
        }
    </style>

    <div class="pagination-container">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                @if (Model.CurrentPageIndex > 1)
                {
                    <li class="page-item">
                        <a class="page-link" href="/Test/AllTests/page=@(Model.CurrentPageIndex - 1)" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                }

                @for (int i = 1; i <= Model.PageCount; i++)
                {
                    if (i == Model.CurrentPageIndex)
                    {
                        <li class="page-item active"><a class="page-link" href="/Test/AllTests?page=@i">@i</a></li>
                    }
                    else
                    {
                        <li class="page-item"><a class="page-link" href="/Test/AllTests?page=@i">@i</a></li>
                    }
                }

                @if (Model.CurrentPageIndex < Model.PageCount)
                {
                    <li class="page-item">
                        <a class="page-link" href="/Test/AllTests/page=@(Model.CurrentPageIndex + 1)" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                }
            </ul>
        </nav>
    </div>
}
