@using QuizSystem.ViewModels.SharedTestViewModels;
@using Core.Enums
@model DetailsSharedTestViewModel


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
    <style>
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 70vh;
        }

        .card {
            max-width: 600px;
            width: 100%;
            padding: 30px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            background-color: #FBFBFB;
        }

    </style>

</head>
<body>
    @if (TempData["Error"] != null)
    {
        <div class="col-md-12 alert alert-danger">
            <span><b>Sorry!</b> - @TempData["Error"]</span>
        </div>
    }
    
    <div class="container">
        <div class="card text-center">
            <div class="card-header"><h4>Test title: @Model.TestName</h4></div>
            <div class="card-body">
                <h5 class="card-title">Code: @Model.TestCode </h5>
                <p class="card-text">Satus: @Model.Status</p>
                <p class="card-text">Description: @Model.Description</p>
                <p class="card-text">Attempts count: @Model.AttemptCount</p>
                <p class="card-text">Passing score: @Model.PassingScore</p>
                <p class="card-text">Start Date: @Model.StartDate.ToString("dddd, dd MMMM yyyy HH:mm")</p>
                <p class="card-text">End Date: @Model.EndDate.ToString("dddd, dd MMMM yyyy HH:mm")</p>

                <a href="@Url.Action("SharedAttemptsHistory", "Attempt", new {sharedTestId = Model.SharedTestId})" class="btn btn-success">Results</a>
                <a href="@Url.Action("Statistic", "SharedTest", new {sharedTestId = Model.SharedTestId})" class="btn btn-secondary" data-mdb-ripple-init>Statistic</a>
                <a href="@Url.Action("Edit", "SharedTest",  new { sharedTestId = Model.SharedTestId})" class="btn btn-primary">Edit</a>

                @if (!Model.Status.Equals(SharedTestStatus.Completed))
                {
                    <button type="button" class="btn btn-danger" data-mdb-toggle="modal" data-mdb-target="#exampleModal-@Model.SharedTestId">
                        Finish
                    </button>

                    <!-- Modal with a unique ID -->
                    <div class="modal fade" id="exampleModal-@Model.SharedTestId" tabindex="-1" aria-labelledby="exampleModalLabel-@Model.SharedTestId" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel-@Model.SharedTestId">Are you sure you want to finish this test?</h5>
                                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
                                    <a href="@Url.Action("Finish", "SharedTest", new { sharedTestId = Model.SharedTestId})" class="btn btn-danger" data-user-id="@Model.SharedTestId">Finish</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                           
            </div>
            @{
                var time = Model.AttemptDuration - new DateTime(2023, 01, 01);
            }
            <div class="card-footer text-muted">Attempt duration: @time</div>
        </div>
    </div>

</body>
</html>